:root {
  --font-primary: ;
  --font-accent: ;
  --clr-primary: #175fee;
  --clr-secondary: #b7caff;
  --clr-tertiary: #c4a862;
  --clr-background: #e6f4f1;
  --clr-text: #000;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-style: italic;
  list-style: none;
  background-color: #b8bdea;
}

.nav-item {
  border: 2px solid #9945ff;
}

.nav-link {
  text-decoration: none;
  color: #9945ff;
}

.nav-link:hover {
  color: #11ffff;
}
