:root {
  --font-primary: ;
  --font-accent: ;
  --clr-primary: #175fee;
  --clr-secondary: #b7caff;
  --clr-tertiary: #c4a862;
  --clr-tertiaryTransparent: #c4a8629b;
  --clr-background: #eff5f4;
  --clr-text: #000;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--clr-background);
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.align-center {
  display: flex;
  justify-content: center;
}

.uList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 80px;
  border: 2px solid var(--clr-primary);
  border-radius: 5%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--clr-tertiaryTransparent);
}

.navbar {
  width: 120%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-style: italic;
  list-style: none;
}

.nav-item {
  border: 2px solid var(--clr-primary);
  border-radius: 0.5em;
  transition: all 0.3s;
}

.nav-link {
  text-decoration: none;
  color: var(--clr-primary);
  transition: all 0.3s;
}

.nav-item:hover {
  border: 2px solid var(--clr-secondary);
  background-color: var(--clr-primary);
}

.nav-link:hover,
.nav-item:hover {
  color: var(--clr-secondary);
  transform: translateY(-5px);
}

.middleSection {
  width: 75%;
}

.p5 {
  padding: 0 0.5em;
}

.homeSectionTop {
  background-image: url("/public/sevenMileCrossing.jpeg");
  background-size: cover;
  height: 400px;
}

.w-100vw {
  width: 100vw;
}

.w-40 {
  width: 40%;
}

.m-1 {
  margin: 1em;
}
